---
permalink: /bootstrap-icons.svg
icons:
  - arrow-90deg-up
  - arrow-left-circle
  - arrow-right-circle
  - book
  - car-front
  - calendar-week
  - check-lg
  - envelope
  - exclamation
  - file-earmark-lock
  - file-earmark-text
  - filetype-pdf
  - heart
  - hospital
  - lightbulb
  - link-45deg
  - linkedin
  - person-rolodex
  - question-circle
  - search
  - x-circle
---

{#
  All icons in /_includes/icon-paths/
  are copied from icons.getbootstrap.com,
  with the <svg> tags manually removed
  since they're not necessary for this sprite.
 #}

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  {% for icon in icons %}
    <symbol viewBox="0 0 16 16" id="{{ icon }}">
      {% include "icon-paths/" + icon + ".svg" ignore missing %}
    </symbol>
  {% endfor %}
</svg>
