.alert {
  position: relative;
  --color: var(--c-accent);
  --color-rgb: var(--c-accent-rgb);

  --high-severity: #97312F;
  --high-severity-rgb: 151, 49, 47;

  --medium-severity: #E2B27E;
  --medium-severity-rgb: 226, 178, 126;

  border: 1px solid rgba(var(--color-rgb), 0.3);
  background: rgba(var(--color-rgb), 0.1);
  padding-block: 0.5rem;
  padding-inline-start: calc(var(--t-leading-rem) + 1rem);
  padding-inline-end: 1rem;
  border-radius: var(--radius);
}

.alert::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  inset-inline-start: 0.5rem;
  inset-block-start: 0.5rem;
  inline-size: var(--t-leading-rem);
  aspect-ratio: 1 / 1;
  background: var(--color);
}

.alert-high {
  --color: var(--high-severity);
  --color-rgb: var(--high-severity-rgb);
}

.alert-medium {
  --color: var(--medium-severity);
  --color-rgb: var(--medium-severity-rgb);
}