.callout {
  background: var(--c-accent-light);
  padding-block: calc(var(--t-leading-rem) * 3);
  margin-block: calc(var(--t-leading-rem) * 2);
}

.callout-inner {
  display: flex;
  gap: var(--g-column-gap);
  align-items: start;
}

.callout-icon {
  background: var(--c-accent);
  padding: calc(var(--t-leading-rem) / 2);
  border-radius: var(--radius);
}

.callout-icon svg {
  fill: var(--c-accent-text);
  width: 8em;
  aspect-ratio: 1 / 1;
}