.figure {
  background: #fafafa;
}

.inline-figcaption {
  display: flex;
  width: 100%;
  max-inline-size: unset;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-block-end: var(--t-paragraph);
}

.inline-figcaption span {
  margin-block-end: 0;
  flex: 1;
}

.inline-figcaption a {
  display: flex;
  gap: 0.25rem;
  flex: none;
}

.inline-figcaption a svg {
  height: var(--t-leading-em);
  aspect-ratio: 1 / 1;
  flex: none;
}