.resource {
  border-radius: var(--radius);
  border: 1px solid var(--c-accent);
  max-inline-size: calc(var(--t-measure) / 2);
  display: flex;
  background: #fff;
  box-shadow: 0 2px 4px rgba(#000, 0.06);
  text-decoration: none;
}

.resource  > * {
  padding: 1rem;
}

.resource-text {
  align-self: center;
}

.resource-icon {
  display: block;
  align-self: stretch;
  width: calc(var(--t-leading-rem) * 3);
  color: var(--c-accent-text);
  background: var(--c-accent);
  display: flex;
  align-items: center;
  flex: none;
}

.resource-icon svg {
  width: 100%;
}