.resources {
  --cluster-gap: 1em;
}

.resource {
  border-radius: var(--radius);
  border: 1px solid var(--c-accent);
  max-inline-size: calc(50% - var(--cluster-gap));
  font-size: var(--t-small);
  display: flex;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  text-decoration: none;
}

.resource  > * {
  padding: 1em;
}

.resource-text {
  align-self: center;
  text-wrap: balance;
}

.resource-icon {
  display: block;
  align-self: stretch;
  inline-size: calc(var(--t-leading-rem) * 3);
  color: var(--c-accent-text);
  background: var(--c-accent);
  display: flex;
  align-items: center;
  flex: none;
}

.resource-icon svg {
  inline-size: 100%;
}