.resources ul,
.resources li {
  max-inline-size: unset;
  margin: 0;
  padding: 0;
  --cluster-gap: 1em;
}

.resources ul {
  display: flex;
  list-style: none;
}

.resources li {
  display: flex;
  align-items: stretch;
  max-inline-size: calc(50% - var(--cluster-gap));
}

.resources li a {
  display: flex;
  border-radius: var(--radius);
  border: 1px solid var(--c-accent);
  font-size: var(--t-small);
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  text-decoration: none;
}

.resources li a  > * {
  padding: 1em;
}

.resource-text {
  align-self: center;
  text-wrap: balance;
}

.resource-icon {
  display: block;
  align-self: stretch;
  inline-size: calc(var(--t-leading-rem) * 3);
  color: var(--c-accent-text);
  background: var(--c-accent);
  display: flex;
  align-items: center;
  flex: none;
}

[data-link-private] .resource-icon {
  background: var(--c-accent-dark);
}

.resource-icon svg {
  inline-size: 100%;
}