/* Reset appearance of <details> element */
details,
details summary {
  padding-inline-start: 0;
  list-style: none;
  background-image: none;
  -webkit-appearance: none;
}

.toc {
  border: 0.125em solid var(--c-accent);
  width: 100%;
  background: #fff;
}

.toc summary {
  padding-block: 0.5em;
  padding-inline: 1em;
}

.toc ol {
  padding: 1em;
  margin: 0;
  font-size: var(--t-small);
  border-block-start: 1px solid rgba(var(--c-accent-rgb), 0.4);
  max-inline-size: unset;
  counter-reset: toc-menu;
  list-style: none;
}


.toc li {
  --counter-size: calc(var(--t-leading-em) * 1.5);
  position: relative;
  counter-increment: toc-menu;
  margin-bottom: calc(var(--t-paragraph) / 2);
  padding-inline-start: calc(var(--counter-size) + 0.5em);
  padding-block: 0.25em;

}

.toc li:before {
  content: counter(toc-menu);
  font-weight: var(--t-bold);
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 50%;
  margin-block-start: calc(var(--counter-size) * -0.5);
  border-radius: 50%;
  color: var(--c-accent);
  border: 1px solid var(--c-accent);
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: var(--counter-size);
  block-size: var(--counter-size);
}

.toc li a {
  font-weight: var(--t-bold);
}

.toc summary {
  background: var(--c-accent-light);
  font-weight: var(--t-bold);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.toc summary svg {
  inline-size: calc(var(--t-leading-em) * 1.25);
  transition: transform 120ms ease-in-out;
}

.toc[open] summary svg {
  transform: rotate(45deg);
}

.toc summary::details-marker {
  back: none;
}