{% set bootstrapIconLinkedIn %}
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
  <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
</svg>
{% endset %}

{% set bootstrapIconEnvelope %}
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
  </svg>
{% endset %}

{#
 # Footer
 #}

{% macro render() %}
   <footer class="footer">
    <div class="footer-sba-banner">
      <div class="l-wrapper">
        <p>
          <img src="/img/sba.png" alt="Small Business Adminstration Women-Owned Small Business Certification" />
          <span>Bloom Works is certified as a Women-Owned Small Business by the U.S. Small Business Administration.</span>
        </p>
      </div>
    </div>
    <div class="footer-inner">
      <div class="l-wrapper">
        <div class="l-cluster">
          <div>
            <h3 class="h4">Work</h3>
            <ul>
              <li><a href="https://bloomworks.digital/services/">Services</a></li>
              <li><a href="https://bloomworks.digital/work/">Case Studies</a></li>
              <li><a href="https://bloomworks.digital/contracting/">Contracting</a></li>
            </ul>
          </div>

          <div>
            <h3 class="h4">Resources</h3>
            <ul>
              <li><a href="">Discovery Playbook</a></li>
              <li><a href="">Employee Handbook</a></li>
              <li><a href="https://medium.com/pollinator">Pollinator</a></li>
            </ul>
          </div>

          <div>
            <h3 class="h4">About Us</h3>
            <ul>
              <li><a href="https://bloomworks.digital/mission/">Our Mission</a></li>
              <li><a href="https://bloomworks.digital/team/">Our Team</a></li>
              <li><a href="https://bloomworks.digital/jobs/">Jobs</a></li>
            </ul>
          </div>
        </div>

        <div class="l-cluster">
          <div class="footer-meta">
            <img src="/img/bloom-logo-white.svg" alt="Logo for Bloom Works" />
            <span>© 2023 Bloom Works</span>
          </div>

          <div class="footer-icons">
            <a href="mailto:hello@bloomworks.digital">{{bootstrapIconEnvelope | safe}} <span class="sr-only">Email Us</span></a>
            <a href="https://www.linkedin.com/company/govbloom/">{{bootstrapIconLinkedIn | safe}} <span class="sr-only">LinkedIn</span></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endmacro %}
