---
permalink: "/components/callout/"
layout: layouts/base.njk
---

{% Callout %}
The “sprint team” refers to the members of the Bloom team involved in the discovery sprint, including full-time staff and contractors, and sometimes members of other firms or organizations (e.g., Office of Data & Innovation (ODI), Skylight). While clients work closely and collaboratively with the team, for the purposes of this playbook, they are not included in the definition of “sprint team.”
{% endCallout %}
