---
layout: layouts/base.njk
permalink: "/components/search/"
---

<form class="search-form l-stack-basic">
  <label for="search" class="h2">Search this guide</label>
  <input type="text" id="search" class="search-input" value="bloom">
</form>

<div class="results-wrapper l-stack-basic">
  <p id="results-count" class="h4 results-count">3 results for “bloom”</p>

  <ol class="l-stack-basic results-list" aria-describedby="results-count">
    <li>
      <a href="#" class="h4 result-title">Norms and Best Practices</a>
      <p class="result-excerpt">to People Ops for help. If the channel starts with: <mark>bloom</mark>-: Strictly internal and work related. comm-: Committee chats, these are employee groups focused on a specific topic having to&hellip;</p>
    </li>
    <li>
      <a href="#" class="h4 result-title">Tools</a>
      <p class="result-excerpt">so get what you need! Google Workspace. When you join <mark>Bloom</mark> (yay), vou'll be issued a Google-based @<mark>bloomworks.digital</mark> email address. Besides being a useful communication tool, it'll also serve as&hellip;</p>
    </li>
    <li>
      <a href="#" class="h4 result-title">Calendar Management</a>
      <p class="result-excerpt">have two shared Google calendars that are available for all <mark>Bloom</mark>ers: <mark>Bloom</mark> Calendar 🔒 is where we document team member's Out of Office / vacation time, operations deadlines of importance&hellip;</p>
    </li>
  </ol>

  <button class="button" data-size="large">Load more results</button>
</div>
