---
layout: layouts/base.njk
permalink: "components/table/"
---

<table>
  <thead>
    <tr>
      <th>Data Point</th>
      <th>Source</th>
      <th>Information Provided</th>
      <th>Availability  (e.g., public, upon request, not public)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Data Point">Organ utilization: Organs recovered for transplant, transplanted by donation service area (DSA)
      </td>
      <td data-label="Source">Scientific Registry of Transplant Recipients
      </td>
      <td data-label="Information Provided">Data on the number of organs, by type, that are authorized and successfully transplanted
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Public
      </td>
    </tr>
     <tr>
      <td data-label="Data Point">Number of recovered organ donors, by race/ethnicity (%) by donation service area (DSA)
      </td>
      <td data-label="Source">Scientific Registry of Transplant Recipients
      </td>
      <td data-label="Information Provided">Data on the demographics of organ donor patients; provides insight for researchers tracking procurement and transplantation equity
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Public, suppressed if &lt;10 patients annually within DSA
      </td>
    </tr>
    <tr>
      <td data-label="Data Point">Number of vented patients referred to OPO care stratified by demographic
      </td>
      <td data-label="Source">OPO, currently collected by OPTN contractor on the DNR
      </td>
      <td data-label="Information Provided">Data on the demographics of potential organ donor patients; provides insight for researchers tracking procurement and transplantation equity, quality of care and access to care
      <br>
      <br>
      Counts number of patient interactions for regulators
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Public, suppressed if &lt;10 patients annually within DSA
      </td>
    </tr>
    <tr>
      <td data-label="Data Point">Number of patients meeting referral criteria without appropriate hospital referral (adverse event)
      </td>
      <td data-label="Source">OPO, currently collected by OPTN contractor on the DNR
      </td>
      <td data-label="Information Provided">Data on the demographics of potential organ donor patients; provides insight for researchers tracking procurement and transplantation equity , quality of care, access to care
      <br>
      <br>
      Counts adverse events for regulators
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Not public at DSA level (small number of patients), should be public when aggregated at hospital system level/transplant system level
      </td>
    </tr>
    <tr>
      <td data-label="Data Point">Onsite patient evaluations (sometimes called “referral response”) rate
      </td>
      <td data-label="Source">OPO, currently collected at the organizational level but not reported to OPTN
      </td>
      <td data-label="Information Provided">Provides insight for researchers tracking procurement and transplantation equity, quality of care, access to care
      <br>
      <br>
      Provides quality of care data for regulators
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Public
      </td>
    </tr>
    <tr>
      <td data-label="Data Point">Onsite response to referred patient within 60 minutes
      </td>
      <td data-label="Source">OPO, currently collected at the organizational level but not reported to OPTN
      </td>
      <td data-label="Information Provided">Provides insight for researchers tracking procurement and transplantation equity, quality of care, access to care
      <br>
      <br>
      Provides quality of care data for regulators
      <br>
      <br>
      Allows hospitals to validate OPO quality of care for patients referred
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Public
      </td>
    </tr>
    <tr>
      <td data-label="Data Point">Rate of referred patients per 100 CALC deaths (using seasonally-adjusted forecasts of CALC deaths)
      </td>
      <td data-label="Source">OPO, CMS denominator
      </td>
      <td data-label="Information Provided">Provides insight for researchers tracking procurement and transplantation equity, quality of care, access to care
      <br>
      <br>
      Provides quality of care data and measures effectiveness of OPO referral criteria for regulators
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Public
      </td>
    </tr>
    <tr>
      <td data-label="Data Point">Rate of referred patients ruled medically suitable
      </td>
      <td data-label="Source">OPO,  currently collected by OPTN contractor on the DNR
      </td>
      <td data-label="Information Provided">Provides insight for researchers tracking procurement and transplantation equity, quality of care, access to care
      <br>
      <br>
      Provides quality of care data and measures effectiveness of OPO referral criteria for regulators
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Public
      </td>
    </tr>
    <tr>
      <td data-label="Data Point">Rate of ruled medically suitable patients per 100 CALC deaths (using seasonally-adjusted forecasts of CALC deaths)
      </td>
      <td data-label="Source">OPO, CMS denominator
      </td>
      <td data-label="Information Provided">Provides insight for researchers tracking procurement and transplantation equity, quality of care, access to care
      <br>
      <br>
      Provides quality of care data and measures effectiveness of OPO referral criteria for regulators
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Public
      </td>
    </tr>
    <tr>
      <td data-label="Data Point">Rate of referred patients with approach (stratified by age, race/ethnicity, and OPTN cause of death)
      </td>
      <td data-label="Source">OPO, only authorization outcome is currently collected on the DNR (authorized yes/no), but all OPOs collect these data at the organizational level
      </td>
      <td data-label="Information Provided">Provides insight for researchers tracking procurement and transplantation equity, quality of care, access to care
      <br>
      <br>
      Provides quality of care data and effectiveness of selection for approach for regulators
      <br>
      <br>
      Allows hospitals to validate OPO quality of care for patients referred
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Public, suppressed if &lt;10 patients annually within DSA
      </td>
    </tr>
    <tr>
      <td data-label="Data Point">Rate of family approach per 100 vented referrals
      </td>
      <td data-label="Source">OPOOPO, only authorization outcome is currently collected on the DNR (authorized yes/no), but all OPOs collect these data at the organizational level, CMS denominator
      </td>
      <td data-label="Information Provided">Provides insight for researchers tracking procurement and transplantation equity, quality of care, access to care
      <br>
      <br>
      Provides quality of care data and effectiveness of selection for approach for regulators
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Public
      </td>
    </tr>
    <tr>
      <td data-label="Data Point">Rate of family authorization per 100 approaches (stratified by age, race/ethnicity, and OPTN cause of death)
      </td>
      <td data-label="Source">OPO, only authorization outcome is currently collected on the DNR (authorized yes/no), but all OPOs collect these data at the organizational levelOPO
      </td>
      <td data-label="Information Provided">Provides insight for researchers tracking procurement and transplantation equity, quality of care, access to care
      <br>
      <br>
      Provides quality of care data and effectiveness of approach for regulators
      <br>
      <br>
      Allows hospitals to validate OPO quality of care for patients referred
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Public
      </td>
    </tr>
    <tr>
      <td data-label="Data Point">Rate of “huddles” with hospital provider of all medically suitable patients
      </td>
      <td data-label="Source">OPO, all OPOs collect these data at the organizational levelOPO
      </td>
      <td data-label="Information Provided">Provides insight for researchers tracking procurement and transplantation equity, quality of care, access to care, coordination of care
      <br>
      <br>
      Provides quality of care data for regulators
      <br>
      <br>
      Allows hospitals to validate OPO quality of care for patients referred
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Public
      </td>
    </tr>
    <tr>
      <td data-label="Data Point">Number of organs recovered by type
      </td>
      <td data-label="Source">OPTN (DDR), SRTR
      </td>
      <td data-label="Information Provided">Data on the number of organs, by type, that are authorized and successfully transplanted
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Public
      </td>
    </tr>
    <tr>
      <td data-label="Data Point">Rate of recovered organs transplanted by type
      </td>
      <td data-label="Source">OPTN (DDR), SRTR
      </td>
      <td data-label="Information Provided">Data on the number of organs, by type, that are authorized and successfully transplanted
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Public
      </td>
    </tr>
    <tr>
      <td data-label="Data Point">Rate of hospital compliance for appropriate referral of patients (i.e., number patients referred appropriately / number patients eligible to be referred per OPO death record review)
      </td>
      <td data-label="Source">OPTN, SRTR, OPO (available on the DNR, which currently characterizes timeliness, but does not describe compliance with clinical triggers)
      </td>
      <td data-label="Information Provided">Provides insight for researchers tracking procurement and transplantation equity, quality of care, access to care, coordination of care
      <br>
      <br>
      Provides quality of care, effectiveness of OPO referral criteria and associated data for regulators
      <br>
      <br>
      Allows hospitals to validate OPO quality of care for patients referred
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Public
      </td>
    </tr>
    <tr>
      <td data-label="Data Point">Rate of family decline by category (stratified by age, race/ethnicity, and OPTN cause of death)
      </td>
      <td data-label="Source">OPO, only authorization outcome is currently collected on the DNR (authorized yes/no), but all OPOs collect these data at the organizational levelOPO
      </td>
      <td data-label="Information Provided">Provides insight for researchers tracking procurement and transplantation equity, quality of care, access to care
      <br>
      <br>
      Provides quality of care data and effectiveness of approach for regulators
      <br>
      <br>
      Allows hospitals to validate OPO quality of care for patients referred
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Public, suppressed if &lt;10 patients annually within DSA
      </td>
    </tr>
    <tr>
      <td data-label="Data Point">Rate of potential donor patients authorized but not recovered
      </td>
      <td data-label="Source">OPO, DDR and DNR
      </td>
      <td data-label="Information Provided">Provides insight for researchers tracking procurement and transplantation equity, quality of care, access to care
      <br>
      <br>
      Provides quality of care data and effectiveness of donor management for regulators
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Public
      </td>
    </tr>
    <tr>
      <td data-label="Data Point">Rate of non-allocated organs by category for refusal
      </td>
      <td data-label="Source">OPO, OPTN
      </td>
      <td data-label="Information Provided">Provides insight for researchers tracking procurement and transplantation equity, quality of care, access to care
      <br>
      <br>
      Provides quality of care data and effectiveness of allocation and donor management for regulators
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Public
      </td>
    </tr>
    <tr>
      <td data-label="Data Point">Count of refusal codes associated with procurement adverse event
      </td>
      <td data-label="Source">OPO, OPTN
      </td>
      <td data-label="Information Provided">Provides insight for researchers tracking procurement and transplantation equity, quality of care, access to care
      <br>
      <br>
      Provides quality of care data and effectiveness of allocation and donor management for regulators
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Upon request
      </td>
    </tr>
    <tr>
      <td data-label="Data Point">Rate of discarded organs of all recovered organs, by type
      </td>
      <td data-label="Source">OPO, OPTN, DDR
      </td>
      <td data-label="Information Provided">Provides insight for researchers tracking procurement and transplantation equity, quality of care, access to care
      <br>
      <br>
      Provides quality of care data and effectiveness of allocation and donor management for regulators
      </td>
      <td data-label="Availability  (e.g., public, upon request, not public)">Public
      </td>
    </tr>
  </tbody>
</table>
