/* Basic layout */
.footer-inner {
  padding-block: calc(var(--t-leading-rem) * 2);
}

.footer * {
  color: var(--c-accent-text);
}

.footer .l-cluster {
  justify-content: space-between;
}

.footer .l-cluster + .l-cluster {
  margin-block-start: var(--t-leading-rem);
}

/* Backgrounds are applied to pseudo-elements
   so they can be distorted by SVG filters
   independently from their contents
*/

.footer {
  margin-block-start: calc(var(--t-leading-rem) * 2); /* Basic layout */
  position: relative;
  overflow: hidden;
}

.footer::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--c-accent);
}

/* Invert user selection colors */

.footer ::selection {
  color: var(--c-accent);
  background: var(--c-accent-text);
}

.footer ::-moz-selection {
  color: var(--c-accent);
  background: var(--c-accent-text);
}

/* Icons and links */

.footer ul,
.footer li {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-block-end: 0.5rem;
}

.footer a {
  text-decoration: none;
}

.footer-icons a {
  text-decoration: none;
}

.footer a:focus,
.footer a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.0625em;
  text-underline-offset: 0.125em;
}

.footer-meta {
  font-size: var(--t-small);
  max-inline-size: calc(var(--t-measure) * 0.75);
}

.footer-meta,
.footer-icons {
  display: flex;
  align-items: center;
  gap: 1em;
}

.footer-meta img,
.footer svg {
  inline-size: var(--t-leading-rem);
}

.footer-icons a:focus,
.footer-icons a:hover {
  transform: scale(1.1);
}

@media (prefers-reduced-motion: no-preference) {
  .footer-icons a {
    transition: transform 0.2s ease-out;
  }

  .footer-icons a:active {
    transform: scale(1.03);
  }
}
