.grid-2col,
.grid-3col {
  margin-block: calc(var(--t-paragraph) * 2);
}

.grid-icon,
.grid-icon svg {
  aspect-ratio: 1 / 1;
}

.grid-icon {
  color: var(--c-accent);
  margin-block-end: 0.5em;
  display: inline-block;
}

.grid-icon svg {
  inline-size: calc(var(--t-leading-rem) * 2);
  display: block;
}
