/* Basic layout */

.icon-list {
  background-color: var(--c-bg);
  border: 1px solid var(--c-border);
  border-radius: var(--radius);
}

.icon-list h3 {
  margin-block-start: 0;
}

.icon-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon-list li {
  position: relative;
  padding-inline-start: var(--list-glyph-padding);
}

/* Styling icon bullets */

.icon-list li::before,
.icon-list li::after {
  content: "";
  position: absolute;
  inline-size: var(--list-glyph-size);
  aspect-ratio: 1 / 1;
  inset-inline-start: 0;
  inset-block-start: 0;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}

/* Checklist-specific styles */

[data-icon-type="checklist"] {
  --c-bg: #F6E9DA;
  --c-border: #E0D0C5;
}

[data-icon-type="checklist"] li::before {
  background: var(--c-accent);
  border-radius: var(--radius);
}

[data-icon-type="checklist"] li::after {
  /* https://icons.getbootstrap.com/icons/check-lg/ */
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23fff" class="bi bi-check-lg" viewBox="0 0 16 16"> <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/></svg>');
  background-size: 80% 80%;
  color: var(--c-accent-text);
  text-align: center;
  z-index: 2;
}

/* Key Questions-specific styles */

[data-icon-type="key-questions"] {
  --c-bg: #F4EBF3;
  --c-border: #EEE2ED;
}

[data-icon-type="key-questions"] li::before {
  /* https://icons.getbootstrap.com/icons/question-circle/ */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2304301b' class='bi bi-question-circle' viewBox='0 0 16 16'%3E%3Cpath d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/%3E%3Cpath d='M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z'/%3E%3C/svg%3E");
  background-size: 90% 90%;
  color: var(--c-accent);
  inset-block-start: 0.125em;
}
