.page-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-block-end: calc(var(--t-leading-rem) * 2);
  position: relative;
  background: var(--c-accent);
  container-type: inline-size;
}

.page-header h1,
.page-header h1 span {
  color: var(--c-accent-text);
  font-size: 6cqi;
  margin-inline: auto;
}

/* Subhead */
.page-header h1 span {
  display: block;
  margin-block-end: 0;
  opacity: 0.9;
  font-size: var(--t-base);
}
