{% include "layouts/head.njk" %}
{% include "layouts/seo.njk" %}
{% include "layouts/css.njk" %}
{% include "layouts/navigation.njk" %}
{% include "layouts/content.njk" %}
{% include "layouts/footer.njk" %}

<script>
  const allSectionsButton = document.querySelector("#all-sections-button");
  const allSectionsModal = document.querySelector("#all-sections-modal");

  allSectionsButton.addEventListener("click", e => {
    allSectionsModal.showModal();
  });
</script>