<svg class="sr-only">
  <defs>
    <filter id="tornEdge">
      <feTurbulence type="fractalNoise" id="turbulence" baseFrequency=".1" numOctaves="2"></feTurbulence>
      <feDisplacementMap id="displacement" in="SourceGraphic" scale="5"></feDisplacementMa>
    </filter>
    <filter id="tornEdgeSmall">
      <feTurbulence type="fractalNoise" id="turbulence" baseFrequency=".1" numOctaves="2"></feTurbulence>
      <feDisplacementMap id="displacement" in="SourceGraphic" scale="2"></feDisplacementMa>
    </filter>
  </defs>
</svg>