<footer class="footer">
  <div class="footer-inner">
    <div class="l-wrapper">
      <nav class="l-grid" aria-labelledby="nav-footer-label">
        <header id="nav-footer-label" class="h3 sr-only">Footer navigation</header>
        <div>
          <h3 class="h4">Work</h3>
          <ul>
            <li><a href="https://bloomworks.digital/services/">Services</a></li>
            <li><a href="https://bloomworks.digital/work/">Case Studies</a></li>
            <li><a href="https://bloomworks.digital/contracting/">Contracting</a></li>
          </ul>
        </div>

        <div>
          <h3 class="h4">About Us</h3>
          <ul>
            <li><a href="https://bloomworks.digital/mission/">Our Mission</a></li>
            <li><a href="https://bloomworks.digital/team/">Our Team</a></li>
            <li><a href="https://bloomworks.digital/jobs/">Jobs</a></li>
          </ul>
        </div>

        <div>
          <h3 class="h4">Connect with Us</h3>
          <div class="footer-icons">
            <a href="mailto:hello@bloomworks.digital">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <use xlink:href="/bootstrap-icons.svg#envelope"></use>
              </svg>
              <span class="sr-only">Email Us</span>
            </a>
            <a href="https://www.linkedin.com/company/govbloom/">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <use xlink:href="/bootstrap-icons.svg#linkedin"></use>
              </svg>
              <span class="sr-only">LinkedIn</span>
            </a>
          </div>
        </div>
      </nav>

      <div class="l-grid">
        <div class="footer-meta">
          <img src="/img/bloom-logo-white.svg" height="100%" width="100%" alt="Logo for Bloom Works" />
          <span>© 2023 Bloom Works</span>
        </div>

        <div class="footer-meta">
          <img src="/img/sba.png" height="100%" width="100%" alt="Small Business Adminstration Women-Owned Small Business Certification" />
          <span>Certified as a Women-Owned Small Business by the U.S. Small Business Administration.</span>
        </div>

        <div class="footer-meta">
          <!-- Quick fix for keeping spacing aligned with the above, from when we moved 'Connect with Us' up -->
        </div>
      </div>
    </div>
  </div>
</footer>
