
 <footer class="footer">
  <div class="footer-sba-banner">
    <div class="l-wrapper">
      <p>
        <img src="/img/sba.png" alt="Small Business Adminstration Women-Owned Small Business Certification" />
        <span>Bloom Works is certified as a Women-Owned Small Business by the U.S. Small Business Administration.</span>
      </p>
    </div>
  </div>
  <div class="footer-inner">
    <div class="l-wrapper">
      <nav class="l-cluster" aria-labelledby="nav-footer-label">
        <header id="nav-footer-label" class="h3 sr-only">Footer navigation</header>
        <div>
          <h3 class="h4">Work</h3>
          <ul>
            <li><a href="https://bloomworks.digital/services/">Services</a></li>
            <li><a href="https://bloomworks.digital/work/">Case Studies</a></li>
            <li><a href="https://bloomworks.digital/contracting/">Contracting</a></li>
          </ul>
        </div>

        <div>
          <h3 class="h4">Resources</h3>
          <ul>
            <li><a href="">Discovery Playbook</a></li>
            <li><a href="">Employee Handbook</a></li>
            <li><a href="https://medium.com/pollinator">Pollinator</a></li>
          </ul>
        </div>

        <div>
          <h3 class="h4">About Us</h3>
          <ul>
            <li><a href="https://bloomworks.digital/mission/">Our Mission</a></li>
            <li><a href="https://bloomworks.digital/team/">Our Team</a></li>
            <li><a href="https://bloomworks.digital/jobs/">Jobs</a></li>
          </ul>
        </div>
      </nav>

      <div class="l-cluster">
        <div class="footer-meta">
          <img src="/img/bloom-logo-white.svg" alt="Logo for Bloom Works" />
          <span>© 2023 Bloom Works</span>
        </div>

        <div class="footer-icons">
          <a href="mailto:hello@bloomworks.digital">{% include "icons/envelope.svg" %} <span class="sr-only">Email Us</span></a>
          <a href="https://www.linkedin.com/company/govbloom/">{% include "icons/linkedin.svg" %} <span class="sr-only">LinkedIn</span></a>
        </div>
      </div>
    </div>
  </div>
</footer>
